/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
* html {
  font-size: 81.25%; }

html {
  font-size: 13px;
  line-height: 1.846em; }

h2 {
  font-size: 1.385em;
  line-height: 1.333em; }

h3 {
  font-size: 1.077em;
  line-height: 1.714em; }

h1, h2 {
  font-weight: bold; }

h3 {
  font-style: italic; }
